[Unit]
Description=RFID Dashboard Flask App
After=network.target

[Service]
User=tim
Group=www-data
WorkingDirectory=/home/tim/test_rfidpi
Environment="PATH=/home/tim/test_rfidpi/venv/bin"
ExecStart=/home/tim/test_rfidpi/venv/bin/gunicorn --workers 4 --threads 2 --timeout 180 --bind 127.0.0.1:3607 --error-logfile /home/tim/test_rfidpi/logs/gunicorn_error.log --access-logfile /home/tim/test_rfidpi/logs/gunicorn_access.log run:app
ExecStop=/bin/kill -s KILL $MAINPID
Restart=always
KillMode=mixed
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target