[Unit]
Description=RFID Dashboard Flask App
After=network.target

[Service]
User=tim
Group=www-data
WorkingDirectory=/home/tim/test_rfidpi
Environment="PATH=/home/tim/test_rfidpi/venv/bin"
ExecStart=/home/tim/test_rfidpi/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:3607 -c gunicorn.conf.py run:app
ExecStop=/bin/kill -s KILL $MAINPID
Restart=always
KillMode=mixed
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target