[Unit]
Description=RFID Dashboard Flask App
After=network.target mariadb.service

[Service]
User=tim
Group=www-data
WorkingDirectory=/home/tim/test_rfidpi
Environment="PATH=/home/tim/test_rfidpi/venv/bin:/usr/bin"  # Ensure PATH includes system binaries
ExecStart=/home/tim/test_rfidpi/venv/bin/gunicorn --workers 2 --threads 2 --timeout 600 --bind 0.0.0.0:3608 --error-logfile /home/tim/test_rfidpi/logs/gunicorn_error.log --access-logfile /home/tim/test_rfidpi/logs/gunicorn_access.log run:app
ExecStop=/bin/kill -s KILL $MAINPID
Restart=always
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target